.conntainerProj{
    width: 1440px;
    background-color: rgb(244, 244, 244);
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 1440px;
    height: 982.05px;
    display: inline-block;
    background: url('Object.jpg');
   
}
nav{ 
   display: flex;
    justify-content: space-between;
    align-items: center;
}
#img1 {
   width: 300px;
   margin: 2px;
   padding: 70px 10px 60px 185px;
 }
 .containerPicture {
   display: flex;
 }
 .navlink p {
   float: right;
   text-align: center;
   padding: 15px 16px;
   font-size: 20px;
 }
 .navlink a {
   text-decoration: none;
   color: rgb(250, 247, 247);
 }

.navPicture{
    padding: 32px 0px 100px 185px;

}
.navBatton {
   background: rgb(226, 142, 46);
    color: rgb(0, 0, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    padding: 8px 30px;
    font-size: 20px;
    height: 60px;
    width: 300px;
    min-width: 100px;
    border-radius: 0px 20px 20px 0px;
    margin: 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navBatton:hover{
    background-color: rgb(255, 252, 251);
    color:  rgb(226, 142, 46);
    transition: 1s;
}


.headText{
    padding: 10px 0px 10px 185px;
    color: rgb(254, 254, 255);
}
.zagolovok{ font-size: 55px;}
.paragraph{ font-size: large;}

.seeAll{
    height: 100px;
    width: 1069px;
    margin: 185px 100px 100px 100px ;
    padding: 10px 0px 10px 110px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px 20px 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a{ text-decoration: none;}  
  
.listing{
    height: 266px;
    width: 1070px;
    display: inline-block;
    margin: 50px 186px 10px 185px;
    align-content: space-between;

}
.stylebutton{
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    padding: 8px 20px;
    font-size: 20px;
    height: 100px;
    width: 200px;
    min-width: 100px;
    cursor: pointer;
    background-color: aliceblue;
    border-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.stylebutton2{ border-radius:  20px 0px 0px 20px;}
.stylebutton3{ border-radius:  0px 20px 20px 0px;}

.stylebutton:hover{
    background:  rgb(226, 142, 46);
    color: rgb(0, 0, 0);
    transition: 1s;
  }


  .productsHome { display: grid;
    grid-template-columns: 400px 400px 400px; 
    margin: 50px;
    padding: 50px;
  }
    .product-inner {
        width: 300px;
        margin: 0 auto;
        background: rgb(255, 255, 255);
        border-bottom: 2px solid #ebebec;
        transition: .2s linear;
     }
     .product-wrap {
        border-radius: 20px;
        background-color: rgb(222, 234, 245);
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
     }
     .product-wrap img {
        display: block;
        width: 100%;
     }
     .product-info {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 10px;
        padding: 10px;
     }
    
     .actions {
        position: absolute;
        left: 0;
        bottom: -20%;
        width: 100%;
        background: rgba(59, 62, 67, 0.75);
        transition: .3s linear;
     }
     .product-inner:hover .actions {
        bottom: 0;
     }
     .actions a {
        float: left;
        width: 30%;
        color: rgb(255, 255, 255);
        padding: 0px 0px 10px 10px;
        transition: .2s linear;
     }
     .actions a:hover {
        background:  rgb(226, 142, 46);
     }
    
     .parking:before {
        content: "\1F698 1";
     }
     .bathroom:before {
        content: "\1F6C0 2";
     }
     .rooms:before {
        content: "\1F465 2";
     }
   
     .goodaHandLeft{
       display: flex;
       font-family: Verdana, Geneva, Tahoma, sans-serif;

     }
     .textLeft{
        display: flex;
        justify-content: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 120px 90px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
     }
     .dopInfo{
        width: 1440px;
        height: 674px;
        background-color: #111010;
        color: #ebebec;
        display: flex;
        justify-content: space-around;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-direction: column;
        align-items: center;
     }
     .clients{
        display: flex;
        justify-content: center;
        margin: 20px;
        padding: 20px;
      
     }
     
     .clientInfo{
        display: inline-block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        justify-items: center;
        background-color: rgb(252, 252, 252);
        margin: 70px;
        padding: 20px;
     }
     
     .avatar{ 
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .names{
        display: inline-block;
    }
    .clientInfo:hover{
        background: #000000;
        color: rgb(255, 255, 255);
        transition: 1s;
      }

.footer-bs {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    color: #ebebec;
    width: 1440px;
    height: 551px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

 .orange{ color:  rgb(226, 142, 46);}

.stylebuttonFooter{
    background:  rgb(226, 142, 46);
    color:  rgb(0, 0, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    padding: 8px 30px;
    font-size: 20px;
    height: 70px;
    width: 200px;
    min-width: 100px;
    margin: 20px;
    cursor: pointer;
}

.stylebuttonFooter:hover{
    background-color:  rgb(255, 255, 255);
    color:  rgb(226, 142, 46);
    transition: 1s;
}
.footer-brand{display: inline-flex; margin: 30px;} 

.all-social{display: flex;  justify-content: space-between;}

.widget-list {
    list-style: none;
    width: 300px;
  }
.widget-list a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0; 
    letter-spacing: 1px;
    color: #fdfdfd;
    transition: 2s linear;
  }
.widget-list a:hover {color:  rgb(226, 142, 46);}

.fadeInDown h4 { text-align: center; padding: 10px;}
.fadeInDown li {
   list-style: none;
   width: 200px;
   padding: 10px;
}
.fadeInDown a{ color: aliceblue;}
 
